html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  font: 14px/20px proxima-nova, 'Helvetica Neue';
  background: #F5F5F5;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 1px;
}
h2 {
  font-size: 20px;
  line-height: 20px;
  margin: 40px;
  background: #F4D03F;
  padding: 20px;
  text-transform: uppercase;
  width: 1060px;
}
p {
  margin: 10px 0;
}
.text {
  margin: 20px;
}
.text p {
  margin: 10px 0 0 0;
}
.text p:first-child {
  margin: 0;
}
#thorax {
  height: 60px;
  position: fixed;
  z-index: 9;
  width: 450px;
  top: 0;
  right: 0;
  background: #F4D03F;
}
#thorax h1 {
  padding: 0 20px;
}
#thorax .github {
  display: block;
  background: #f5f5f5 url('../images/GitHub-Mark-32px.png') no-repeat 20px 50%;
  line-height: 60px;
  padding: 0 20px 0 72px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#thorax .github:hover {
  background-color: #F4D03F;
}
#thorax .index {
  display: block;
  background: #fff;
  padding: 10px 20px 20px 20px;
  font: normal 14px/20px Georgia, 'Times New Roman', sans-serif;
}
#thorax .index li {
  margin: 10px 0 0 0;
  list-style: inside decimal;
}
#thorax .index a {
  color: #C0392B;
}
#examples {
  width: 1100px;
  margin: 0 40px 40px 40px;
  overflow: hidden;
}
.example {
  padding: 40px 0 0 0;
}
.example h3 {
  font: normal 20px/30px Georgia, 'Times New Roman', sans-serif;
  margin: 15px 20px 20px 20px;
}
.example h3 a {
  text-decoration: none;
  color: #000;
}
.example .description {
  width: 200px;
  float: left;
}
.example .body {
  margin: 0 0 0 200px;
  background: #fff;
}
.example .tab {
  background: #f0f;
  overflow: hidden;
}
.example .tab.code pre,
.example .tab.markup pre,
.example .tab.code code,
.example .tab.markup code {
  margin: 0;
  padding: 0;
}
.example .tab.code pre,
.example .tab.markup pre {
  display: block;
  padding: 20px;
  line-height: 20px;
  background: #fff;
}
.example .tab.code {
  background: #F4D03F;
}
.example .tab.demo {
  background: #C0392B;
}
.example .tab.demo .body {
  padding: 20px;
  background: #F5F5F5;
}
.example .tab.demo pre,
.example .tab.demo code {
  background: #FAFAFA;
  padding: 5px;
}
.example .tab.demo pre {
  display: block;
  padding: 10px;
  background: #00BA84;
  color: #fff;
}
.example .tab.demo hr {
  margin: 20px 0;
  border: 1px solid #ccc;
  width: 298px;
}
.example .tab.demo dl {
  display: block;
  background: #fff;
  padding: 20px;
  width: 260px;
}
.example .tab.demo dl dt {
  font-weight: 500;
  float: left;
  width: 100px;
}
.example .tab.demo > .body > *,
.example .tab.demo > .body > form > * {
  margin: 10px 0 0 0;
}
.example .tab.demo > .body > *:first-child,
.example .tab.demo > .body > form > *:first-child {
  margin: 0;
}
.example .tab.demo .thorax-buttons {
  overflow: hidden;
}
.example .tab.demo .thorax-buttons > input {
  float: left;
  margin: 0 10px 0 0;
}
.example .tab.demo .thorax-message {
  background: #C0392B;
  color: #fff;
  width: 280px;
  padding: 10px;
}
.example .tab.demo .thorax-message.success {
  background: #00BA84;
}
.example .tab.demo .thorax-row {
  background: #FAFAFA;
  background: #fff;
  padding: 20px;
}
.example .tab.demo .thorax-row label {
  font-weight: 500;
  display: block;
  margin: 0 0 10px 0;
}
.example .tab.demo .thorax-row .thorax-error {
  width: 300px;
}
.example .tab.demo .thorax-row .thorax-error li {
  background: #C0392B;
  color: #fff;
  padding: 10px;
  display: block;
  margin: 10px 0 0 0;
}
.example .tab.demo .thorax-row .demo-tags {
  margin: 10px 0 0 0;
  overflow: hidden;
}
.example .tab.demo .thorax-row .demo-tags li {
  background: #666;
  color: #fff;
  float: left;
  padding: 10px;
  margin: 0 10px 0 0;
}
.example .tab.demo .thorax-row.custom {
  margin: 20px 0 0 0;
}
.example .tab.demo .thorax-row.custom label {
  color: #C0392B;
}
.example .tab.markup {
  background: #e74c3c;
}
.example:first-child {
  padding: 60px 0 0 0;
}
input,
textarea,
select {
  outline: none;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
textarea {
  resize: none;
}
input[type="text"],
input[type="password"],
select,
textarea {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
}
input[type="submit"] {
  background: #00BA84;
  color: #fff;
  border: none;
  padding: 11px 15px;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:active {
  background: #00C48B;
}
