html,
body,
ul,
li { margin: 0; padding: 0; }

li { list-style: none; }

body { font: 14px/20px proxima-nova, 'Helvetica Neue'; background: #F5F5F5; }

h1,
h2,
h3 { font-weight: normal; margin: 0; }

p {
	margin: 10px 0;
}

.text {
	margin: 20px;
	
	p {
		margin: 10px 0 0 0;
		
		&:first-child { margin: 0; }
	}
}

#sidebar {
	background: #343131; color: #fff; overflow: hidden; width: 300px; position: fixed; left: 0; top: 0; bottom: 0;
	
	iframe { margin: 0 20px; }

	.nav {
		display: block; margin: 40px 0; padding: 0; background: #E3E3E3; color: #808080; border-right: 1px solid #C9C9C9;

		li {
			padding: 10px; cursor: pointer;

			&:hover { background: #D6D6D6; }

			&.active { background: #fff; color: #000; font-weight: 500; }
		}
	}

	h1 { font-size: 30px; line-height: 30px; margin: 20px; }
	h2 { font-size: 18px; line-height: 20px; margin: 20px; }

	a { color: #F4D03F; }
}

#header {
	background: #fff; margin: 0 0 0 300px; overflow: hidden;

	> .aux {
		overflow: hidden; width: 1100px; background: #eee; margin: 40px;
	}

	.text {
		margin: 20px;

		p { margin: 10px 0 0 0; }

		> :first-child { margin: 0; }
	}
}

#examples {
	width: 1100px; margin: 0 40px 40px 340px; padding: 0 40px 0 0; overflow: hidden;
}

.example {
	padding: 40px 0 0 0;
	
	h3 {
		font: normal 20px/30px Georgia, 'Times New Roman', sans-serif; margin: 15px 20px 20px 20px;
		
		a { text-decoration: none; color: #000; }
	}
	
	.description {
		width: 200px; float: left;
	}
	
	.body { margin: 0 0 0 200px; background: #fff; }
	
	.tab {
		background: #f0f; overflow: hidden;
		
		
		&.code,
		&.markup {
			pre,
			code { margin: 0; padding: 0; }
			
			pre { display: block; padding: 20px; line-height: 20px; background: #fff; }
		}
		
		&.code {
			background: #F4D03F;	
		}
		
		&.demo {
			background: #C0392B;
			
			.body { padding: 20px; background: #F5F5F5; }
			
			pre,
			code { background: #FAFAFA; padding: 5px; }
			
			pre { display: block; padding: 10px; background: #00BA84; color: #fff; }
			
			hr {
				margin: 20px 0; border: 1px solid #ccc; width: 298px;
			}
			
			dl {
				display: block; background: #fff; padding: 20px; width: 260px;
				
				dt { font-weight: 500; float: left; width: 100px; }
			}
			
			& > .body > *,
			& > .body > form > * {
				margin: 10px 0 0 0;
				
				&:first-child { margin: 0; }
			}
			
			.dora-buttons {
				overflow: hidden;
				
				> input { float: left; margin: 0 10px 0 0; }
			}
			
			.dora-message {
				background: #C0392B; color: #fff; width: 280px; padding: 10px;
				
				&.success { background: #00BA84; }
			}
			
			.dora-input {
				background: #FAFAFA; background: #fff; padding: 20px;
				
				label { font-weight: 500; display: block; margin: 0 0 10px 0; }
				
				.dora-error {
					width: 300px;
				
					li {
						background: #C0392B; color: #fff; padding: 10px; display: block; margin: 10px 0 0 0;
					}
				}
				
				.demo-tags {
					margin: 10px 0 0 0; overflow: hidden;
					
					li { background: #666; color: #fff; float: left; padding: 10px; margin: 0 10px 0 0; }
				}
				
				&.custom {
					margin: 20px 0 0 0;
					
					label { color: #C0392B; }
				}
			}
		}
		
		&.markup {
			background: #e74c3c;
		}
	}
	
	&:first-child { padding: 60px 0 0 0; }
}

input,
textarea,
select { outline: none; display: block; font-size: 14px; line-height: 20px; margin: 0; }

textarea { resize: none; }

input[type="text"],
input[type="password"],
select,
textarea { width: 300px; box-sizing: border-box; border: 1px solid #ccc; padding: 10px; }

input[type="submit"] {
	background: #00BA84; color: #fff; border: none; padding: 11px 15px; cursor: pointer;
	
	&:hover,
	&:active { background: #00C48B; }
}